body {
    background: #d4d4d3;
    display: grid;
    grid-template-columns: 40% auto;
}

.cv-template {
    grid-area: 1;
}

#about {
    grid-area: 2;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}