body {
    background: #cdd9df;
    display: grid;
    grid-template-columns: 70% auto;
}

.cv-template {
    grid-area: 1;
    display: grid;
    grid-template-rows: 15% 15% 9% 25% 9% auto;
    background: #a5b7c0;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16), 0 6px 16px rgba(0, 0, 0, 0.23);
}

#name {
    grid-area: 1;
    text-align: center;
    margin: 10px;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    -webkit-text-stroke: 1px rgb(3, 24, 48);
}

#about {
    border-bottom: 2px solid rgb(8, 84, 119);
    color: rgb(6, 55, 78);
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    margin: 10px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.avatar{
    justify-self: center;
}

.container {
    margin: 0px;
    height: 98vh;
    display: grid;
    grid-template-rows: 30% 10% 30% 10% auto;
    background: rgb(8, 84, 119);
    border-radius: 10px;
}

#education {
    color: rgb(6, 55, 78);
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid rgb(8, 84, 119);

}

#experience {
    color: rgb(6, 55, 78);
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contact {
    color: rgb(199, 212, 219);
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Languages {
    color: rgb(199, 212, 219);
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}