body {
    margin: 0;
}

.OuterContainer {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("qa.jpg");
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0 px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.InnerContainer {
    height: 75vh;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.664);
    justify-self: center;
    border-radius: 20px;
    margin-left: 3%;
    margin-top: 80px;
    display: grid;
    grid-template-rows: 30% 30% 40%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.welcome {
    justify-self: center;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    grid-area: 1;
    color: white;
    -webkit-text-stroke: 2px black;
}

.inputs {
    justify-self: center;
    padding: 10px;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.input {
    grid-area: 2;
    padding: 10px;
    margin: 3px 0 10px 0;
    display: block;
    background: white;
    border-radius: 5px;
    border: 1px solid red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    outline: none;
}

.buttons {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    grid-area: 3;
}

.buttons p {
    color: white;
    -webkit-text-stroke: 2px black;
    margin: 0px;
}

.button {
    grid-area: 3;
    display: inline;
    margin: 10px 0 5px 0;
    background: #c53131;
    border-color: #776f6c;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    padding: 15px 32px;
    color: white;
    font-size: 15px;
    font-weight: 750;
    border-radius: 60px;
    text-decoration: none;
    outline: none;
}